@using Microsoft.AspNetCore.Mvc.Localization
@model Lab.ViewModels.ProductViewModel
@inject IHtmlLocalizer<Lab.Models.ProductModel> Localizer

@{
    ViewData["Title"] = Localizer["Details"];
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["ProductModel"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Title"]
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            @Localizer["Description"]
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            @Localizer["Catalog"]
        </dt>
        <dd class="col-sm-10">
            @Model.CatalogName
        </dd>
        <dt class="col-sm-2">
            @Localizer["Tags"]
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.Tags.Select(t => t.Title))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
