@using Microsoft.AspNetCore.Mvc.Localization
@model Lab.ViewModels.ProductViewModel
@inject IHtmlLocalizer<Lab.Models.ProductModel> Localizer

@{
    ViewData["Title"] = Localizer["Edit"];
}

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["ProductModel"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Catalog">@Localizer["Catalog"]</label>
                <select asp-for="CatalogName" class="form-control" asp-items="ViewBag.AvailableCatalogs"></select>
                <span asp-validation-for="CatalogName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Tags">@Localizer["Tags"]</label>
                <select asp-for="TagIds" class="form-control" multiple="multiple" asp-items="ViewBag.AvailableTags"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
